In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("./Input/train.csv")
df.shape

(40455, 11)

In [8]:
df.dtypes

id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [12]:
df['cut'].value_counts()
df['color'].value_counts()

G    8469
E    7375
F    7179
H    6229
D    5012
I    4088
J    2103
Name: color, dtype: int64

In [13]:
df

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0.30,Very Good,F,VS2,62.8,56.0,4.29,4.31,2.70,605
1,1,0.34,Ideal,E,SI1,62.6,55.0,4.46,4.49,2.80,565
2,2,0.40,Very Good,D,SI1,60.3,62.0,4.70,4.75,2.85,720
3,3,0.40,Premium,H,VS1,61.8,59.2,4.72,4.74,2.92,793
4,4,0.90,Very Good,D,SI1,61.0,63.0,6.10,6.13,3.73,4381
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.32,Ideal,D,VS1,61.5,56.0,4.41,4.43,2.72,862
40451,40451,0.30,Ideal,D,VS2,60.9,57.0,4.32,4.35,2.64,710
40452,40452,0.47,Premium,G,SI1,62.7,58.0,4.97,4.99,3.12,931
40453,40453,0.40,Good,G,VS2,63.5,56.0,4.68,4.70,2.98,807
40454,40454,2.02,Very Good,H,SI2,62.3,58.0,7.97,8.04,4.99,15064